services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  content_type_migrations.content_type_listener:
    class: vardumper\IbexaAutomaticMigrationsBundle\EventListener\ContentTypeListener
    autoconfigure: true
    autowire: true
    public: false
    arguments:
      - '@logger'