services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  ibexa_automatic_migrations.settings_service:
    class: vardumper\IbexaAutomaticMigrationsBundle\Service\SettingsService
    arguments:
      - '%kernel.project_dir%'
      - '%ibexa_automatic_migrations.enabled%'
      - '%ibexa_automatic_migrations.types%'
    public: true

  vardumper\IbexaAutomaticMigrationsBundle\Service\SettingsService: '@ibexa_automatic_migrations.settings_service'

  ibexa_automatic_migrations.content_type_listener:
    class: vardumper\IbexaAutomaticMigrationsBundle\EventListener\ContentTypeListener
    autoconfigure: true
    autowire: true
    public: false
  ibexa_automatic_migrations.content_type_group_listener:
    class: vardumper\IbexaAutomaticMigrationsBundle\EventListener\ContentTypeGroupListener
    autoconfigure: true
    autowire: true
    public: false
    arguments:
      - '@logger'
      - '@ibexa_automatic_migrations.settings_service'
  ibexa_automatic_migrations.section_listener:
    class: vardumper\IbexaAutomaticMigrationsBundle\EventListener\SectionListener
    autoconfigure: true
    autowire: true
    public: false
    arguments:
      - '@logger'
      - '@ibexa_automatic_migrations.settings_service'

  ibexa_automatic_migrations.object_state_listener:
    class: vardumper\IbexaAutomaticMigrationsBundle\EventListener\ObjectStateListener
    autoconfigure: true
    autowire: true
    public: false
    arguments:
      - '@logger'
      - '@ibexa_automatic_migrations.settings_service'
    tags:
      - { name: kernel.event_listener, event: 'Ibexa\Contracts\Core\Repository\Events\ObjectState\CreateObjectStateEvent', method: onCreated }
      - { name: kernel.event_listener, event: 'Ibexa\Contracts\Core\Repository\Events\ObjectState\UpdateObjectStateEvent', method: onUpdated }
      - { name: kernel.event_listener, event: 'Ibexa\Contracts\Core\Repository\Events\ObjectState\DeleteObjectStateEvent', method: onDeleted }
  ibexa_automatic_migrations.object_state_group_listener:
    class: vardumper\IbexaAutomaticMigrationsBundle\EventListener\ObjectStateGroupListener
    autoconfigure: true
    autowire: true
    public: false
    arguments:
      - '@logger'
      - '@ibexa_automatic_migrations.settings_service'

  ibexa_automatic_migrations.menu_subscriber:
    class: vardumper\IbexaAutomaticMigrationsBundle\EventSubscriber\MigrationsMenuSubscriber
    autoconfigure: true
    autowire: true
    public: false

  vardumper\IbexaAutomaticMigrationsBundle\Controller\MigrationsController:
    autoconfigure: true
    autowire: true
    public: true